@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Anonymous Pro', sans-serif;
}

/* - Square Profile Pictures - */

.IconBase-sc-igncj4-0.bTjVNf.avatar img {
  border-radius: 0;
}

/* - Friends (Sidebar) - */

a:nth-child(2) [class^=_item_1avxi_1] [class^=_content_1avxi_40]>span {
  visibility: hidden;
}

a:nth-child(2) [class^=_item_1avxi_1] [class^=_content_1avxi_40]>span::before {
  content: "Chums";
  visibility: visible;
  display: inline-block;
}

/* - Top bar, Friends section - */

._title_sd6wo_1 {
  visibility: hidden;
}

._title_sd6wo_1::before {
  content: "Chums";
  visibility: visible;
  display: inline-block;
}

/* - No Friends in Common, ect - */
/* TODO: Figure out if user is in Profile, Friends, Groups, or Servers tab, change content accordingly. For now, this more generic message works for all of the above. If someone has an inkling on how to do this, please pullreq it! Ty <3 */

._empty_kup3j_106 {
  visibility: hidden;
}

._empty_kup3j_106::before {
  content: "There's nothing here...";
  visibility: visible;
  display: inline-block;
}

/* Mutual Friends (a bit scuffed.) */

._tabs_kup3j_69 div:nth-child(2) {
  width: 25%;
  text-align: center;
  font-size: 0px;
}

._tabs_kup3j_69 div:nth-child(2)::before {
  content: " Mutual Chums";
  visibility: visible;
  font-size: 14px;
  display: inline-block;
}
